<table>
  <% book.book_comments.each do |book_comment| %>
  <tr>
    <td>
      <%= link_to(book_comment.user) do %>
        <%= image_tag book_comment.user.get_profile_image, size:"50x50" %><br> <!--コメント投稿ユーザー画像-->
        <%= book_comment.user.name %>  <!--コメント投稿ユーザー名-->
      <% end %>
    </td>
    <td><%= book_comment.comment %></td>  <!--コメント投稿ユーザーコメント-->
    <td>
      <% if book_comment.user == current_user %>
        <%= link_to "Destroy",book_book_comment_path(book_comment.book,book_comment), method: :delete, class: "btn btn-sm btn-danger", remote: true %>
      <% end %>
    </td>
  </tr>
  <% end %>
</table>