<div class='container'>
  <div class='row'>
    <div class='col-md-3'>
      <h2>User info</h2>
      <%= render 'users/info', user: @book_user %> <!--自分で記述　解説と記述が違うが問題なく動作してるのでOK?-->
      <h2 class="mt-3">New book</h2>
      <%= render 'form', book: @book_new %> <!--解説では'books/formとなっているが、同ファイル上にあるためbooksは省略-->
    </div>
    <div class='col-md-8 offset-md-1'>
      <%= render 'layouts/errors', obj: @book_comment %>
  		<h2>Book detail</h2>
  		<div>
  		<table class='table'>
  		  <tr>
          <td><%= link_to(@book.user) do %>
            <%= image_tag @book.user.get_profile_image, size:"100x100" %><br>
            <%= @book.user.name %>
            <% end %>
          </td>
          <td><%= link_to @book.title %></td>
          <td><%= @book.body %></td>
          <!--ここまで--応用課題6で応用課題3で追加したコードを部分テンプレート化-->
          <td id="favorite_btn_<%= @book.id %>">
            <%= render "favorites/favorite_btn", book: @book %>
          </td>
          <td id="comment_counter">
            <%= render "book_comments/counter", book: @book %>
          </td>
          <!--ここまで--応用課題6-->
          <td>
          <% if @book.user == current_user %> <!--自分で記述を編集追加-->
            <td><%= link_to 'Edit', edit_book_path(@book.id), class: "btn btn-sm btn-success" %></td>
            <td><%= link_to 'Destroy', @book, method: :delete, data: { confirm: '本当に消しますか？' }, class: "btn btn-sm btn-danger"%></td>
          <% end %> <!--自分で記述を編集追加-->
          </td>
          </tr>
      </table>
      </div>
      <div id="comment_index">
        <%= render "book_comments/index", book: @book %>
      </div>
      <%= render "book_comments/form", book: @book, book_comment: @book_comment %>
      </div>
  </div>
</div>