<div class='container'>
  <div class='row'>
    <div class='col-md-3'>
      <h2>User info</h2>
      <%= render 'users/info', user: @book_user %> <!--自分で記述　解説と記述が違うが問題なく動作してるのでOK?-->
      <%= render 'form', book: @book_new %> <!--解説では'books/formとなっているが、同ファイル上にあるためbooksは省略-->
    </div>
    <div class='col-md-8 offset-md-1'>
      <%= render 'layouts/errors', obj: @book_comment %>
  		<h2>Book detail</h2>
  		<div>
  		<table class='table'>
  		  <tr>
          <td><%= link_to(@book.user) do %>
            <%= image_tag @book.user.get_profile_image, size:"100x100" %><br>
            <%= @book.user.name %>
            <% end %>
          </td>
          <td><%= link_to @book.title %></td>
          <td><%= @book.body %></td>
          <% if @book.favorited_by?(current_user) %> <!--応用課題3にて追加-->
          <td>
            <%= link_to book_favorite_path(@book), method: :delete do %>
              ♥<%= @book.favorites.count %>
            <% end %>
          </td>
          <% else %>
          <td>
            <%= link_to book_favorite_path(@book), method: :post do %> <!--@bookじゃなく他インスタンス変数でコントローラでBook.allの追加が必要な可能性あり-->
              ♡<%= @book.favorites.count %>
            <% end %>
          </td>
          <% end %>
          <td>
           コメント数:<%= @book.book_comments.count %>
          </td>
          <td>
          <% if @book.user == current_user %> <!--自分で記述を編集追加-->
            <td><%= link_to 'Edit', edit_book_path(@book.id), class: "btn btn-sm btn-success" %></td>
            <td><%= link_to 'Destroy', @book, method: :delete, data: { confirm: '本当に消しますか？' }, class: "btn btn-sm btn-danger"%></td>
          <% end %> <!--自分で記述を編集追加-->
          </td>
          </tr>
      </table>
      </div>
      <div>
        <table>
          <% @book.book_comments.each do |book_comment| %>
          <tr>
            <td>
              <%= link_to(book_comment.user) do %>
                <%= image_tag book_comment.user.get_profile_image, size:"50x50" %><br> <!--コメント投稿ユーザー画像-->
                <%= book_comment.user.name %>  <!--コメント投稿ユーザー名-->
              <% end %>
            </td>
            <td><%= book_comment.comment %></td>  <!--コメント投稿ユーザーコメント-->
            <td>
              <% if book_comment.user == current_user %>
                <%= link_to "Destroy",book_book_comment_path(book_comment.book,book_comment), method: :delete, class: "btn btn-sm btn-danger" %>
              <% end %>
            </td>
          </tr>
          <% end %>
        </table>
          <%= form_with model: [@book, @book_comment] do |f| %>
            <div>
              <%= f.text_area :comment, rows: '5', class: "w-100" %>
              <%= f.submit "送信" %>
            </div>
          <% end %>
    </div>
  </div>
</div>